var
eggs
parts
lib
include
bin
local
.mr.developer.cfg
.installed.cfg
.DS_Store
develop-eggs
docs/doctrees
docs/html
docs/make.bat
src/plone.api
src/quintagroup.transmogrifier/
docs/Makefile
*.pyc
.swp
*.egg-info
