*.egg-info
*.pyc
.DS_Store
.installed.cfg
.mr.developer.cfg
.swp
bin
develop-eggs
docs/doctrees
docs/html
docs/make.bat
docs/Makefile
eggs
include
lib
local
parts
src/collective.transmogrifier/
src/plone.api
src/quintagroup.transmogrifier/
var
