language: python
python:
  - 2.6
  - 2.7
install:
  - python bootstrap.py
  - bin/buildout -q
script:
  - ./pre-commit-check.sh
 
notifications:
  irc:
    - "irc.freenode.org#ngep"
  email:
    - it@eestec.net
