# a buildout specifically prepared for Travis CI to keep it under the
# limit of 900 seconds
[buildout]
extends = buildout.d/development.cfg

# disable extensions
extensions =

parts -=
    omelette
    sphinxbuilder
    instance

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org
