// Styles that cannot be found in main.less goes here.

#portal-logo img {
    width: 100%;
    height: auto;
}

#main-wrapper {
    background: url('../images/body_bg.png') repeat-x;
}

#main {
    padding-top: 20px;
}

#portal-searchbox {
    margin-top: 55px;
    border: 1px solid #d7d7d7;
    
    .rounded-corners(4px);
}

input.searchField {
    border: 0;
    padding: 3px 5px;
    -moz-appearance: none;
}

#searchGadget {
    width: 200px;
    .rounded-corners(4px);
}

.LSBox .searchButton {
    border: 1px solid #eee;
    height: 24px;
    
    .rounded-corners(4px);
    .background-gradient(#efefef, #fafafa, #efefef);
}

#social {
    position: absolute;
    right: 0;
    top: 0;
    
	img {
      	margin-top: 0px;
    }
}


.promo {
    font-size: 1.3em;
}

.join {  
    color: #000;
    background: #fab984;
    display: block;
    text-align: left;
    height: 175px;

    h3 {
        color: #666;
        position: absolute;
        bottom: 15px;
        left: 0px;
        margin-left: -25px
    }
    img {
        position: absolute;
        bottom: 45px;
        margin-left: 55px;
    }
}

.rotated {
    .rotate(-90deg);
}

.find {
    background: #b9d3e8;
    display: block;
    text-align: left;
    height: 175px;

    h3 {
        color: #666;
        position: absolute;
        bottom: 3px;
        left: 0px;
        margin-left: -12px;
    }
    img {
        position: absolute;
        bottom: 50px;
        margin-left: 75px;
    }
}

.subtitle {
    margin-bottom: 0;
}

.recent-news, .sidebar {
    display: inline-block;
}

.recent-news {
    width: 72.5%;
}
.news-item {
    margin-bottom: 30px;
    
    .rounded-corners(4px);
    .box-shadow(1px, 1px, 1px, 1px, #dedede);

    h1 {
        font-size: 25px;
        font-weight: normal;
        font-style: italic;
        line-height: 1.8em;
    }
    .read-more {
        font-family: @heading-font-family;
        font-size: @font-size-large;
        display: block;
        float:right;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.sidebar {
    width: 250px !important;
    position: relative;
    display: block;
    float:right;
}


#portal-footer {
	height: 225px;
	background: #494949;
	line-height: 1.25em;
}

.portletHeader {
	font-family: @heading-font-family;
    font-weight: @heading-font-weight;
    font-size: @h2-font-size;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
	margin-top: 10px;
}


.footer-nav li:before { 
	content: "- "; 
	position: relative; 
	left: 0px;
}


.footer-nav li{
	color: #fff;
	display: block;
	text-indent: 5px;
	padding: 1px;
	font-size: 0.9em
}