// Styles that cannot be found in main.less goes here.

h2 {
    border-bottom: 1px solid #e8e8e8;
}

#portal-logo img {
    width: 100%;
    height: auto;
}

#menu {
    letter-spacing: 1px;
}

#main-wrapper {
    background: url('../images/body_bg.png') repeat-x;
}

#main {
    padding-top: 20px;
}

#portal-searchbox {
    margin-top: 55px;
    border: 1px solid #d7d7d7;
    
    .rounded-corners(4px);
}

input.searchField {
    border: 0;
    padding: 3px 5px;
    -moz-appearance: none;
}

#searchGadget {
    width: 200px;
    .rounded-corners(4px);
}

.LSBox .searchButton {
    border: 1px solid #eee;
    height: 24px;
    
    .rounded-corners(4px);
    .background-gradient(#efefef, #fafafa, #efefef);
}

#social {
    position: absolute;
    right: 0;
    top: 0;
    
    img {
        margin-top: -15px;
    }

}

dl {
    &.portlet {
        dt {
            font-family: @heading-font-family;
            font-weight: normal;
            letter-spacing: 1px;
        }
    }
}

.promo {
    
}

.join {
    background: #DDD;
}

.find {
    background: #EEE;
}

.subtitle {
    margin-bottom: 0;
}

.news-item {
    margin-bottom: 30px;
    
    .news-title {
        color: #7e7e7e;
        font-family: @heading-font-family;
    }
    img {
        border: 4px solid #DDD;
        margin-right: 20px;
        float: left;
    }
}

.sidebar-title {
    font-size: @font-size-large;
    margin-top: 38px;
}

.event-item {
    color: #494949;
    border-left: 3px solid #c05050;
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 19px;
    
    a, a:link, a:active, a:hover, a:visited {
        color: #494949!important;
    }
    
    &:hover {
        background: #f5f5f5;
    }
    
    .event-date {
        float: left;
        padding: 0 15px;
        
        .month {
            font-size: 13px;
            text-align: center;
        }
        .day {
            font-family: @heading-font-family;
            font-size: 25px;
        }
    }
    .event-title {
        color: #5e5e5e;
        font-size: @font-size-large;
        margin-right: 20px;
    }
    .event-content {
        color: #c0c0c0;
        font-size: @font-size-small;
        margin-right: 20px;
        margin-top: 4px;
    }
}

.project-list {
    margin-top: 40px;
}

.project-item {
    margin-bottom: 20px;
}

.event-arrow,
.project-arrow {
    position: absolute;
    right: 6px;
    height: 18px;
    width: 6px;
    margin-top: 14px;
    background: url('../images/arrow.png') no-repeat;
}

.project-arrow {
    margin-top: 30px;
}

.partner {
    float: left;
    margin-left: 50px;
    
}