// Styles that cannot be found in main.less goes here.

#portal-logo img {
    width: 100%;
    height: auto;
}

#main-wrapper {
    background: url('../images/body_bg.png') repeat-x;
}

#main {
    padding-top: 20px;
}

#portal-searchbox {
    margin-top: 55px;
    border: 1px solid #d7d7d7;
    
    .rounded-corners(4px);
}

input.searchField {
    border: 0;
    padding: 3px 5px;
    -moz-appearance: none;
}

#searchGadget {
    width: 200px;
    .rounded-corners(4px);
}

.LSBox .searchButton {
    border: 1px solid #eee;
    height: 24px;
    
    .rounded-corners(4px);
    .background-gradient(#efefef, #fafafa, #efefef);
}

#social {
    position: absolute;
    right: 0;
    top: 0;
    
	img {
      	margin-top: 0px;
    }
}


.promo {
    background: #EFF0F5 url('../images/promo_bg.png') no-repeat 50% 50%;
    padding: 0 35px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    
    .rounded-corners(4px);
    .box-shadow(1px, 1px, 1px, 1px, #dedede);

    h1 {
        font-size: 25px;
        font-weight: normal;
        font-style: italic;
        line-height: 1.8em;
    }
}


#portal-footer {
	height: 225px;
	background: #494949;
	line-height: 1.25em;
}

.portletHeader {
	font-family: @heading-font-family;
    font-weight: @heading-font-weight;
    font-size: @h2-font-size;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
	margin-top: 10px;
}


.footer-nav li:before { 
	content: "- "; 
	position: relative; 
	left: 0px;
}


.footer-nav li{
	color: #fff;
	display: block;
	text-indent: 5px;
	padding: 1px;
	font-size: 0.9em
}